<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}">
<th:block layout:fragment="content">
  <h1>New Tax</h1>
  <hr />
  <form th:action="@{/taxes}" th:method="@{${tax.id == null} ? 'post' : 'put'}" th:object="${tax}">
    <div class="form-group">
      <label for="tax">Tax</label>
      <input id="tax" name="tax" type="number" class="form-control" th:field="*{tax}"
        style='height: 200px; width: max-content;' />
      <span th:if="${#fields.hasErrors('tax')}" th:error="*{tax}" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">Save</button>
    <a th:href="@{/taxes}" class="btn btn-default">Back</a>

  </form>
  <!-- <script>
    window.addEventListener('load', function () {
      const imageFile = document.getElementById('image_file');
      const image = document.getElementById('image');
      imageFile.addEventListener('change', function () {
        const file = imageFile.files[0];
        const reader = new FileReader();
        reader.addEventListener('load', function () {
          image.value = reader.result;
          const imagePreview = document.createElement('img');
          imagePreview.id = 'image_preview';
          imagePreview.src = reader.result;
          imagePreview.style = "max-width: 200px; max-height: 200px;";

          imageFile.after(imagePreview);
        });
        reader.readAsDataURL(file);
      });
    });
  </script> -->
  <link th:href="@{/css/app.css}" type="text/css" rel="stylesheet" />
</th:block>

</html>