<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}">
<th:block layout:fragment="content">
  <h1 th:if="${app.id == null}">New App</h1>
  <h1 th:if="${app.id != null}">Edit App</h1>
  <hr />
  <form th:action="@{/apps}" th:method="@{${app.id == null} ? 'post' : 'put'}" th:object="${app}">
    <input type="hidden" th:field="*{id}" />

    <div class="form-group">
      <label for="name">Name</label>
      <input id="name" name="name" type="text" class="form-control" th:field="*{name}"
        style='height: 200px; width: max-content;' />
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input id="description" name="description" type="text" class="form-control" th:field="*{description}"
        style='height: 200px; width: max-content;' />
    </div>
    <div class="form-group">
      <label for="image_file-lg">Image</label>
      <input id="image_file" name="image_file" type="file" class="form-control" />
      <!-- 画像があれば縮小して表示 -->
      <img th:if="${app.image != null && app.image != ''}" th:src="*{image}" th:alt="現在の画像" width="200" height="200" />
      <input id="image" name="image" type="hidden" th:field="*{image}" />
    </div>
    <div class="form-group">
      <label for="developer">Developer</label>
      <input id="developer" name="developer" type="text" class="form-control" th:field="*{developer}"
        style='height: 200px; width: max-content;' />
    </div>
    <div class="form-check">
      <input id="active" name="active" type="checkbox" class="form-check-input" th:field="*{active}" />
      <label for="active" class="form-check-label">Active</label>
    </div>
    <label for="url"></label>
    <input id="url" name="url" type="hidden" th:field="*{url}" style='height: 200px; width: max-content;' />

    <button type="submit" class="btn btn-success">Save</button>
    <a th:href="@{/apps}" class="btn btn-default">Back</a>

  </form>
  <script>

    // IEの処理
    if (navigator.userAgent.indexOf('MSIE') !== -1 || navigator.userAgent.indexOf('Trident') !== -1) {
      window.addEventListener('load', function () {
        var imageFile = document.getElementById('image_file');
        var image = document.getElementById('image');
        imageFile.addEventListener('change', function () {
          var file = imageFile.files[0];

          if (file) {
            // URL.createObjectURLを使用して選択されたファイルのBlob URLを作成します
            var blobUrl = URL.createObjectURL(file);

            // 隠し入力の値をBlob URLに設定します
            image.value = blobUrl;

            // プレビュー用の画像要素を作成します
            var imagePreview = document.createElement('img');
            imagePreview.id = 'image_preview';
            imagePreview.src = blobUrl;
            imagePreview.style.width = "200px";
            imagePreview.style.height = "200px";

            // imageFileの後にプレビュー要素を挿入します
            imageFile.insertAdjacentHTML('afterEnd', imagePreview.outerHTML);
          }
        });
      });
    } else {
      // IE以外の処理
      window.addEventListener('load', function () {
        const imageFile = document.getElementById('image_file');
        const image = document.getElementById('image');
        imageFile.addEventListener('change', function () {
          const file = imageFile.files[0];
          const reader = new FileReader();
          reader.addEventListener('load', function () {
            image.value = reader.result;
            const imagePreview = document.createElement('img');
            imagePreview.id = 'image_preview';
            imagePreview.src = reader.result;
            imagePreview.style = "max-width: 200px; max-height: 200px;";

            imageFile.after(imagePreview);
          });
          reader.readAsDataURL(file);
        });
      });
    }
  </script>
  <link th:href="@{/css/app.css}" type="text/css" rel="stylesheet" />
</th:block>

</html>